<section class="products">
  <section class="products__wrap">
    <div class="container">
      <div class="products__body">
        <div class="products__header">
          <h1 id="productsTitle" class="products__title">Productos</h1>
          <div id="catScroll" class="products__cats" aria-label="Categorías"></div>
        </div>

        <div id="productsMount" class="products__grid"></div>

        <div class="products__more">
          <button class="products__moreBtn" id="btnMore" type="button">Ver Más</button>
        </div>
      </div>
    </div>
  </section>

  <section class="colors">
    <div class="container colors__content">
      <h2 class="colors__title">Explorar<br/>Por Colores</h2>
      <div id="colorChips" class="colors__chips"></div>
    </div>
  </section>
</section>
